{{ template "head" . }}

{{ template "prom_right_table_head" }}
<tr>
  <th>Sensor</th>
  <th>{{ template "prom_query_drilldown" (args "sum(up{job='sensor'})") }} / {{ template "prom_query_drilldown" (args "count(up{job='sensor'})") }}</th>
</tr>
{{ template "prom_right_table_tail" }}

{{ template "prom_content_head" . }}
<h1>Sensor</h1>

<table class="table table-condensed table-striped table-bordered" style="width: 0%">
<tr>
  <th>Sensor</th>
  <th>Up</th>
  <th>CO2</th>
  <th>Temperature</th>
</tr>
{{ range query "up{job='sensor'}" | sortByLabel "instance" }}
<tr>
  <td><a href="sensor-overview.html?instance={{ .Labels.instance }}">{{ reReplaceAll "(.*?://)([^:/]+?)(:\\d+)?/.*" "$2" .Labels.instance }}</a></td>
  <td{{ if eq (. | value) 1.0 }}>Yes{{ else }} class="alert-danger">No{{ end }}</td>
  <td>{{ template "prom_query_drilldown" (args (printf "sensor_co2_level{job='sensor',instance='%s'}" .Labels.instance) "" "printf.1f") }}</td>
  <td>{{ template "prom_query_drilldown" (args (printf "sensor_temperature_level{job='sensor',instance='%s'}" .Labels.instance) "" "printf.1f") }}</td>
</tr>
{{ else }}
<tr><td colspan=4>No sensors found.</td></tr>
{{ end }}


{{ template "prom_content_tail" . }}

{{ template "tail" }}
